.Container{
    display: flex;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Content{
    width: 550px;
    background: #f2f2f2;
    height: 615px;
    color: #000000;

   font-weight: 500;
    font-size: 20px;
    line-height: 21px;

    border-radius: 10px;

    box-shadow: 2px 3px 27px rgba(0, 0, 0, 0.25);

    input{
        background: #DDE3E9;
        border: 1px solid #B4B9CC;
        box-sizing: border-box;
        border-radius: 5px;
        
        margin-top: 7px;
        &:focus{
            border: 2px solid #2F3675;
        }
    }

}

.PersonalInfo{
    padding-left: 38px;
    display: grid;
    input{
        width: 474px;
        height: 32px;
    }

    label{
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        height: 57px;
        margin-top: 7px;
        font-size: 16px;
     
    }
        

    div{
        width: 474px;
        display: grid;
        grid-template-rows: 1;
        grid-template-columns: 1fr 1fr 1fr;
        
        label{
            & + label{
                margin-left: 23px;
            }
            input{
                width: 140px;
               
            }
        }
        
    }
}

.productInfo{
    display: grid;
    font-size: 17px;

    span:first-child{
        margin: 25px 0 20px 38px;
    }
    .adesivos{
        margin: 0 25px 20px 38px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;

        label{
            span{
                margin-right: 5px;
            }
            input{
                margin-right: 8px;
            }
        }
    }
}

.quantidadeAdesivo{
    font-size: 17px;

    input{
        width: 40px;
        height: 20px;
        margin-left: 5px;
    }
}

.enviar{
    position: relative;
    width: 550px;
    height: 85px;
    left: 0px;
    top: 63px;
    border-radius: 0 0 10px 10px;

    background: #DCE2E8;

    button, a {
        background: #2F3675;
        border-radius: 10px;

        font-size: 24px;
        line-height: 28px;
        color: #EDEDF1;

        transition: filter 0.2s;

        &:hover{
            filter: brightness(0.8);
        }
    }

    button{
        position: relative;
        width: 117px;
        height: 38px;
        left: 395px;
        top: 24px;
    }

    a{
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
        width: 48px;
        height: 38px;
        left: 38px;
        top: -14px;

    }
}

@media(max-width:650px){

   
    .Content{
        width: 300px;

        .backgroundTopak{
            img{
                width: 300px;

            }

        }  
    }
   
    .PersonalInfo{
        padding-left: 38px;
        display: grid;
        input{
            width: 474px;
            height: 32px;
        }
    
        label{
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
            height: 57px;
            margin-top: 7px;
            font-size: 16px;
         
        }
            
    
        div{
            width: 474px;
            display: grid;
            grid-template-rows: 1;
            grid-template-columns: 1fr 1fr 1fr;
            
            label{
                & + label{
                    margin-left: 23px;
                }
                input{
                    width: 140px;
                   
                }
            }
            
        }
    }
    
    .productInfo{
        display: grid;
        font-size: 17px;
    
        span:first-child{
            margin: 25px 0 20px 38px;
        }
        .adesivos{
            margin: 0 25px 20px 38px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
    
            label{
                span{
                    margin-right: 5px;
                }
                input{
                    margin-right: 8px;
                }
            }
        }
    }
    
    .quantidadeAdesivo{
        font-size: 17px;
    
        input{
            width: 40px;
            height: 20px;
            margin-left: 5px;
        }
    }
    
    .enviar{
        position: relative;
        width: 550px;
        height: 85px;
        left: 0px;
        top: 63px;
        border-radius: 0 0 10px 10px;
    
        background: #DCE2E8;
    
        button, a {
            background: #2F3675;
            border-radius: 10px;
    
            font-size: 24px;
            line-height: 28px;
            color: #EDEDF1;
    
            transition: filter 0.2s;
    
            &:hover{
                filter: brightness(0.8);
            }
        }
    
        button{
            position: relative;
            width: 117px;
            height: 38px;
            left: 395px;
            top: 24px;
        }
    
        a{
            display: flex;
            align-items: center;
            justify-content: center;
    
            position: relative;
            width: 48px;
            height: 38px;
            left: 38px;
            top: -14px;
    
        }
    }
    
}